header button {
    background-color: rgb(255 255 255 / 0%);
    border: none;
}

nav {
    padding: 12px 16px !important;
}

.dialog {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.head-sticker {
    display: flex;
}

.mybubbles {
    background-color: var(--primary-color-light);
    border-radius: 16px 16px 2px 16px;
    padding: 12px;
    max-width: 80%;
    margin-left: auto;
    color: 444;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.10);
}

.bubbles {
    background-color: var(--primary-color-dark);
    border-radius: 16px 16px 16px 2px;
    padding: 12px;
    color: #fff;
    margin-right: auto;
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.10);
}

.bubbles-group {
    display: flex;
    align-items: end;
    gap: 12px;
    max-width: 180%;
}

.bubbles-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.profile-img {
    width: 28px !important;
    height: 28px !important;
}

.secondary-btn {
    margin-top: 4px;
}

.wrap {
    padding-bottom: 86px !important;
}

/* 輸入欄位 */
.search-container {
    display: flex;
    width: 100%;
    gap: 8px;
}

.search-container>input[type=text] {
    margin-bottom: 0 !important;
}

.search-container>img {
    top: 65% !important;
}

.search-container>div>button {
    width: 46px;
    height: 46px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
}

/* 預約表單 */
#appointment-form {
    display: none;
    position: relative;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    max-width: 425px;
    width: 100%;
    z-index: 999;
    height: 100vh;
    overflow-y: scroll;
}


.form-top {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color-gray);
    padding: 12px 16px;
}

.form-top>button {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 16px;
    background-color: transparent;
    border: none;
}

.form-main,
.form-bottom {
    padding: 12px 16px;
}

.pet-content {
    background-color: #fff;
}
.pet-desc > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.pet-content >div:first-of-type {
    width: 70%;
    
}

.pet-img {
    border-radius: 8px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.pet-content .pet-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-main>div:first-of-type {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid var(--border-color-gray);
}

.form-main>div {
    margin-bottom: 24px;
}

.form-main>div:last-of-type {
    margin-bottom: 0px;
}


.form-main>div>textarea,
.form-main>div>input[type="text"],
.form-main>div>input[type="date"] {
    width: 100%;
    height: 36px;
    ;
}

.form-main>div>textarea {
    height: 100px;
    ;
}
