body {
    background-color: #fff;
}

.main-header {
    justify-content: center;
}

.chat-list {
    margin-bottom: 60px;
}

.chat-person {
    display: flex;
    gap: 8px;
    padding: 12px 0;
    align-items:center;
}

.chat-person > div{
    width: calc(100% - 8px - 50px);
} 

.chat-person > div > div {
    display: flex;
    justify-content: space-between;
}

.chat-person >div >span {
    font-size: 0.9rem;
}

.time{
    font-size: 0.8rem;
    color: var(--border-color-gray);
}

.title {
    margin-bottom: 0px;
}
