body {
    padding: 0;
}

.wrap {
    padding-top: 16px;
    padding-bottom: 100px;
}

.profile {
    display: flex;
    align-items: center;
    gap:12px;
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;
}

.profile > div:last-child {
    flex-grow: 1;
}

.profile > div > div {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.profile > div > div:first-of-type {
    justify-content: space-between;   
}

.profile .title {
    font-size: 1.1rem;
}

.profile span {
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 8px;
}

.profile .tag {
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 4px 8px;
    font-size: 0.7rem;
}

.profile-img {
    width: 80px;
    height: 80px;
}

.function > a{
    width: 100%;
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.function > a:first-of-type {
    border-radius: 16px 16px 0 0;
}

.function > a:last-of-type {
    border-radius: 0 0 16px 16px;
}

.function > a > div {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.function > a > div > img{
    margin-right: 4px;
}

.btn {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content:center;
}


